.someDiv {
    position: relative;
    z-index: 1;
    background: #3d3d3d;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.someDiv .message {
    font-family: 'Open Sans', sans-serif;
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.someDiv .message a {
    font-family: 'Open Sans', sans-serif;
    color: #e84c3d;
    text-decoration: none;
}